body {
	background: #F3EFE8;
	color: #999;
	margin: 0;
}
#container    {
  
    margin: 0 auto;
    padding: 20px;
    text-align: left;
    width: 650px;
}
#form {
	
	width: 300px;
	background-color: white;
	float:left;
	padding:10px;
}

 h1 {
	background-color: #7c8491;
	border-radius: 5px 5px 0 0;
	color: #fff;
	font-size: 14px;
	padding: 20px;
	text-align: center;
	text-transform: uppercase;
}

#form label {
    padding: 0 10px ;
    font-style:italic;
}

#form input, textarea{
	border: 1px solid #dcdcdc;
	padding:  10px;
	margin: 10px;
	width: 238px;
	font-size: 14px;
	border-radius: 5px;
}

#form input[type="submit"] {
	background: #7c8491;
	border-radius: 3px;
	color: #fff;
	float: right;
	font-weight: bold;
	width: 100%;
	margin: 0px;
}

#form input[type="submit"]:hover { 
    background: #2c3646; 
}

#masseges {
	width: 300px;
	float:right;
	display: block;
	padding:10px;
	background-color: white;
}

.left_messeges {
    float:left;
    text-align:left;
}

.right_messeges {
    float:right;
    text-align:right;
}

.right_messeges, .left_messeges {
    width:200px;
    margin-top: 20px; 	
	padding: 0 10px ;
	color:black;
}
.text_masseges_right {
    background:#c7c0bc; 
}

.text_masseges_left {
    background:#e6ebee; 
}

.text_masseges_left, .text_masseges_right {
    color:white; 
	padding:  10px;
	border-radius: 15px;
	display: block;

}

.wor {
	color: red;
}

.suc {
	color:green;
}